.products-container {
  margin: 0 auto;
  padding: 20px;
}

.products-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
  gap: 20px; /* Adjust the space between grid items */
}

.product-item {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.product-item:hover {
  box-shadow: 0px 0px 6px 6px gray;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  font-size: 16px;
  color: #007bff;
}

.product-image {
  max-width: 100px; /* Consider adjusting if needed */
  height: auto;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

.product-description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.css-1oj2twp-MuiPagination-root {
  display: flex;
  justify-content: center;
}
